<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Padding</key>
	<integer>10</integer>
	<key>Pale Factor</key>
	<integer>7</integer>
	<key>About Text</key>
	<string>k</string>
	<key>Help Text</key>
	<string>View Schedule displays your schedule. It will default to the current day. Tap on a period to add notes to it. A few things you could put in notes: tests, homework, period swaps, meetings, revised times when there&apos;s a snow delay. You can turn notes off in Settings.\n\nEdit Schedule allows you to change your schedule. The first page lets you edit classes by block - you can set the name, room, and color of an entire block. The next pages let you edit each day individually. To add a period, simply shorten the periods that occupy the same time as your new period. A new period is created to fill the gap. To delete a period, resize the surrounding periods to cover up the unwanted period. The final page lets you load a new schedule from a template.</string>
	<key>Feedback Text</key>
	<string>Questions? Comments? Concerns? ...Bugs? We&apos;d love to hear from you! Email us at AAScheduleApp@gmail.com. If you have a question, we&apos;ll get back to you with an answer as soon as possible.</string>
</dict>
</plist>
