<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cycle Days</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>8</integer>
		<integer>0</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>7</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>9</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Start Date</key>
	<date>2019-08-15T14:00:00Z</date>
	<key>Other</key>
	<string>Make sure there are a few -1s at the end of Cycle Days (5 works). Also, increment the number in KEY_RET in KeyDefinitions.h. If the schedule has changed, update the default templates (10-12, 10-12 offset, and 8-9) in GetSchedule.m.</string>
</dict>
</plist>
